<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/public/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  </head>

  <body>
    <nav id="nav">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>

    <header class="header">
      <h1>Your Dashboard</h1>
    </header>

    <main>
      <div class="dashboard">
        {{{body}}}
      </div>
      <div>
        <a href="/dashboard/new"> + New Post</a>
      </div>
    </main>

    {{#if loggedIn}}
      <script src="/public/js/logout.js"></script>
    {{/if}}
  </body>

</html>