<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/login">Login</a>
      <a href="/logout" id="logout">Logout</a>
    </nav>

    <div class="header-div">
      <header class="header">
        <h1>Tech Blog</h1>
      </header>
    </div>

    <main>
      <div class="main">
        {{{body}}}
      </div>
    </main>
    {{!-- {{#if loggedIn}} --}}
    <script src="/js/logout.js"></script>
    {{!-- {{/if}} --}}
  </body>

</html>