{{#if posts.length}}
  {{#each posts as |post|}}
    <div class="post">
      <div class="post-row">
        <a href="dashboard/edit/{{id}}">
            <div class="title" id="row-title">
              <h3>{{postTitle}}</h3>
            </div>
              <div class="post-user">
                <h6>{{format_date postDate}}</h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  {{/each}}
{{/if}}